<section id="playoffs-bracket-view">
    <div class="bracket-container">

        <!--<div class="center-logo-container" id="center-logo-container"><img class="center-logo" src="https://nhl.bamcontent.com/images/logos/league/2016_Playoffs_English_Primary_WebBracketVersion.svg">-->
        <!--</div>-->
        <!--<div class="champion-logo-container" id="champion-logo-container"><img class="champion-logo" src="https://nhl.bamcontent.com/images/logos/league/NHL_2016_StanleyCupChampion_5.svg">-->
        <!--</div>-->

        <div class="bracket-box western division-upper matchup-upper round-1"></div>
        <div class="bracket-box western division-upper matchup-lower round-1"></div>
        <div class="bracket-box western division-lower matchup-upper round-1"></div>
        <div class="bracket-box western division-lower matchup-lower round-1"></div>
        <div class="bracket-box eastern division-upper matchup-upper round-1"></div>
        <div class="bracket-box eastern division-upper matchup-lower round-1"></div>
        <div class="bracket-box eastern division-lower matchup-upper round-1"></div>
        <div class="bracket-box eastern division-lower matchup-lower round-1"></div>

        <div class="bracket-box western division-upper round-2"></div>
        <div class="bracket-box western division-lower round-2"></div>
        <div class="bracket-box eastern division-upper round-2"></div>
        <div class="bracket-box eastern division-lower round-2"></div>

        <div class="bracket-box western round-3"></div>
        <div class="bracket-box eastern round-3"></div>

        <div class="bracket-box western round-4"></div>
        <div class="bracket-box eastern round-4"></div>

        <div class="bracket-slot eastern atlantic round-1 rank-1" id="series-a-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-13 primary-bg--team-13"></div>
        </div>
        <div class="bracket-slot eastern atlantic round-1 rank-wc" id="series-a-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-2 primary-bg--team-2"></div>
        </div>
        <div class="bracket-slot eastern atlantic round-1 rank-2" id="series-b-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-14 primary-bg--team-14"></div>
        </div>
        <div class="bracket-slot eastern atlantic round-1 rank-3" id="series-b-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-17 primary-bg--team-17"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-1 rank-1" id="series-c-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-15 primary-bg--team-15"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-1 rank-wc" id="series-c-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-4 primary-bg--team-4"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-1 rank-2" id="series-d-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-5 primary-bg--team-5"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-1 rank-3" id="series-d-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-3 primary-bg--team-3"></div>
        </div>
        <div class="bracket-slot western central round-1 rank-1" id="series-e-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-25 primary-bg--team-25"></div>
        </div>
        <div class="bracket-slot western central round-1 rank-wc" id="series-e-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-30 primary-bg--team-30"></div>
        </div>
        <div class="bracket-slot western central round-1 rank-2" id="series-f-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-19 primary-bg--team-19"></div>
        </div>
        <div class="bracket-slot western central round-1 rank-3" id="series-f-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-16 primary-bg--team-16"></div>
        </div>
        <div class="bracket-slot western pacific round-1 rank-1" id="series-g-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-24 primary-bg--team-24"></div>
        </div>
        <div class="bracket-slot western pacific round-1 rank-wc" id="series-g-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-18 primary-bg--team-18"></div>
        </div>
        <div class="bracket-slot western pacific round-1 rank-2" id="series-h-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-26 primary-bg--team-26"></div>
        </div>
        <div class="bracket-slot western pacific round-1 rank-3" id="series-h-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-28 primary-bg--team-28"></div>
        </div>

        <div class="bracket-slot eastern atlantic round-2 team-upper" id="series-i-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-2 primary-bg--team-2"></div>
        </div>
        <div class="bracket-slot eastern atlantic round-2 team-lower" id="series-i-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-14 primary-bg--team-14"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-2 team-upper" id="series-j-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-15 primary-bg--team-15"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-2 team-lower" id="series-j-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-5 primary-bg--team-5"></div>
        </div>
        <div class="bracket-slot western central round-2 team-upper" id="series-k-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-25 primary-bg--team-25"></div>
        </div>
        <div class="bracket-slot western central round-2 team-lower" id="series-k-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-19 primary-bg--team-19"></div>
        </div>
        <div class="bracket-slot western pacific round-2 team-upper" id="series-l-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-18 primary-bg--team-18"></div>
        </div>
        <div class="bracket-slot western pacific round-2 team-lower" id="series-l-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-28 primary-bg--team-28"></div>
        </div>

        <div class="bracket-slot eastern atlantic round-3" id="series-m-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-14 primary-bg--team-14"></div>
        </div>
        <div class="bracket-slot eastern metropolitan round-3" id="series-m-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-5 primary-bg--team-5"></div>
        </div>
        <div class="bracket-slot western central round-3" id="series-n-top">
            <div class="bracket-slot-content logo-round-team logo-bg--team-19 primary-bg--team-19"></div>
        </div>
        <div class="bracket-slot western pacific round-3" id="series-n-bottom">
            <div class="bracket-slot-content logo-round-team logo-bg--team-28 primary-bg--team-28"></div>
        </div>

        <div class="bracket-slot western round-4" id="series-o-western">
            <div class="bracket-slot-content logo-round-team logo-bg--team-28 primary-bg--team-28"></div>
        </div>
        <div class="bracket-slot eastern round-4" id="series-o-eastern">
            <div class="bracket-slot-content logo-round-team logo-bg--team-5 primary-bg--team-5"></div>
        </div>

        <div class="bracket-slot round-4-winner hidden" id="series-o-winner">
            <div class="bracket-slot-content logo-round-team logo-bg--team-5 primary-bg--team-5"></div>
        </div>

        <!--<div class="series-status eastern atlantic round-1 series-top" id="series-status-a"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/panthers-vs-islanders-series-a"-->
        <!--title="Panthers (1) vs. Islanders (WC1)">NYI wins 4-2</a>-->
        <!--</div>-->
        <!--<div class="series-status eastern atlantic round-1 series-bottom" id="series-status-b"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/lightning-vs-red-wings-series-b"-->
        <!--title="Lightning (2) vs. Red Wings (3)">TBL wins 4-1</a>-->
        <!--</div>-->
        <!--<div class="series-status eastern metropolitan round-1 series-top" id="series-status-c"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/capitals-vs-flyers-series-c"-->
        <!--title="Capitals (1) vs. Flyers (WC2)">WSH wins 4-2</a>-->
        <!--</div>-->
        <!--<div class="series-status eastern metropolitan round-1 series-bottom" id="series-status-d"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/penguins-vs-rangers-series-d"-->
        <!--title="Penguins (2) vs. Rangers (3)">PIT wins 4-1</a>-->
        <!--</div>-->
        <!--<div class="series-status western central round-1 series-top" id="series-status-e"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/stars-vs-wild-series-e"-->
        <!--title="Stars (1) vs. Wild (WC2)">DAL wins 4-2</a>-->
        <!--</div>-->
        <!--<div class="series-status western central round-1 series-bottom" id="series-status-f"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/blues-vs-blackhawks-series-f"-->
        <!--title="Blues (2) vs. Blackhawks (3)">STL wins 4-3</a>-->
        <!--</div>-->
        <!--<div class="series-status western pacific round-1 series-top" id="series-status-g"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/ducks-vs-predators-series-g"-->
        <!--title="Ducks (1) vs. Predators (WC1)">NSH wins 4-3</a>-->
        <!--</div>-->
        <!--<div class="series-status western pacific round-1 series-bottom" id="series-status-h"><a-->
        <!--class="series-status__link" href="/stanley-cup-playoffs/2016/kings-vs-sharks-series-h"-->
        <!--title="Kings (2) vs. Sharks (3)">SJS wins 4-1</a>-->
        <!--</div>-->

        <!--<div class="series-status eastern atlantic round-2" id="series-status-i"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/lightning-vs-islanders-series-i"-->
        <!--title="Lightning (2) vs. Islanders (WC1)">TBL-->
        <!--wins 4-1</a>-->
        <!--</div>-->
        <!--<div class="series-status eastern metropolitan round-2" id="series-status-j"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/capitals-vs-penguins-series-j"-->
        <!--title="Capitals (1) vs. Penguins (2)">PIT-->
        <!--wins 4-2</a>-->
        <!--</div>-->
        <!--<div class="series-status western central round-2" id="series-status-k"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/stars-vs-blues-series-k"-->
        <!--title="Stars (1) vs. Blues (2)">STL-->
        <!--wins 4-3</a>-->
        <!--</div>-->
        <!--<div class="series-status western pacific round-2" id="series-status-l"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/sharks-vs-predators-series-l"-->
        <!--title="Sharks (3) vs. Predators (WC1)">SJS-->
        <!--wins 4-3</a>-->
        <!--</div>-->

        <!--<div class="series-status eastern round-3" id="series-status-m"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/penguins-vs-lightning-series-m"-->
        <!--title="Penguins (2) vs. Lightning (2)">PIT-->
        <!--wins 4-3</a>-->
        <!--</div>-->
        <!--<div class="series-status western round-3" id="series-status-n"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/blues-vs-sharks-series-n"-->
        <!--title="Blues (2) vs. Sharks (3)">SJS wins-->
        <!--4-2</a>-->
        <!--</div>-->

        <!--<div class="series-status round-4" id="series-status-o"><a class="series-status__link"-->
        <!--href="/stanley-cup-playoffs/2016/penguins-vs-sharks-series-o"-->
        <!--title="Penguins (2) vs. Sharks (3)">PIT wins 4-2</a>-->
        <!--</div>-->

        <div class="bracket-rank eastern atlantic rank-1" id="rank-a-top">(1)
        </div>
        <div class="bracket-rank eastern atlantic rank-wc" id="rank-a-bottom">(4)
        </div>
        <div class="bracket-rank eastern atlantic rank-2" id="rank-b-top">(2)
        </div>
        <div class="bracket-rank eastern atlantic rank-3" id="rank-b-bottom">(3)
        </div>
        <div class="bracket-rank eastern metropolitan rank-1" id="rank-c-top">(1)
        </div>
        <div class="bracket-rank eastern metropolitan rank-wc" id="rank-c-bottom">(4)
        </div>
        <div class="bracket-rank eastern metropolitan rank-2" id="rank-d-top">(2)
        </div>
        <div class="bracket-rank eastern metropolitan rank-3" id="rank-d-bottom">(3)
        </div>
        <div class="bracket-rank western central rank-1" id="rank-e-top">(1)
        </div>
        <div class="bracket-rank western central rank-wc" id="rank-e-bottom">(4)
        </div>
        <div class="bracket-rank western central rank-2" id="rank-f-top">(2)
        </div>
        <div class="bracket-rank western central rank-3" id="rank-f-bottom">(3)
        </div>
        <div class="bracket-rank western pacific rank-1" id="rank-g-top">(1)
        </div>
        <div class="bracket-rank western pacific rank-wc" id="rank-g-bottom">(4)
        </div>
        <div class="bracket-rank western pacific rank-2" id="rank-h-top">(2)
        </div>
        <div class="bracket-rank western pacific rank-3" id="rank-h-bottom">(3)
        </div>

        <div id="bracket-section-loader-container"></div>
    </div>
</section>

<scp-teams-dropdown></scp-teams-dropdown>
